{% extends "base.html" %}

{% block title %}Inicio · Índice de Atractividad{% endblock %}

{% block content %}
<div class="inicio-wrapper">
  <div class="card">
    <h2>¿Qué deseas hacer?</h2>
    <p>Selecciona una de las siguientes opciones:</p>

    <div class="botones-opciones">
      <a href="{{ url_for('recomendador') }}" class="btn">🧭 Recomendador</a>
      <a href="{{ url_for('estudio_municipio') }}" class="btn">🏡 Estudio Municipio</a>
      <a href="{{ url_for('estudio_cluster') }}" class="btn">📊 Estudio Comunidad</a>
    </div>
  </div>
</div>
{% endblock %}
